.Mainbar {
    top: 5%;
    background: #ffffff;
    width: 50%;
    padding-right: 10%;
    color: black;
    display: inline-block;
    box-shadow: inset -9em 0 #fafafa;
}
.Workingbar {
    padding-right: 20%;
    padding-left: 5%;
}