@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, #root, #root > div, #root > div > div {
  height: 100%;
}
body {
  font-family: "Roboto",  sans-serif;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

.mainWrapper {
  background-color: rgb(243, 243, 243);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.login-page {
  width: 40%;
  padding: 50px 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 400px;
  min-width: 150px;
  margin: 0 auto 20px;
  padding: 23px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #dddddd;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0984e3;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: auto;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 3px;
}
.form button:hover,.form button:focus {
  background: #0476ce;
}

.form button:active {
  background: #1084dd;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 0.95em;
  font-weight: bold;
}
.form .message a {
  color: #0476ce;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.form-text {
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.error-text {
  font-family: "Roboto", sans-serif;
  color: red;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -16px;
}

.error-text2 {
  font-family: "Roboto", sans-serif;
  color: red;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  top: -16px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.date {
  text-transform: uppercase;
  font-weight: bold;
  color: #154468;
}

.back-img {
  position: relative;
  top: 100px;
  width: 5vh;
  height: 5vh;
  margin: 0px;
}
.listItem{
  color:red;
}
.elements{
  display: inline-block;
}

.Topbar{
  background: #db4c3f;
  font-size: 18px;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: inset 0 -1px #ca2100;
  color: white;
}

.settingOptions {
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: transparent;
}
.settingOptions:hover{
  border-bottom: 1px solid #fafafaef;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}